@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* FLEXBOX */
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: #1d1d1d;
  color: white;
  margin: 0 auto;
}

.sidebar .menu-2 li a {
  color: #CCC;
  text-decoration: none;
  display: block;
  padding: 2.5px 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar label {
  display: list-item;
  text-align: -webkit-match-parent;
  padding: 5px 10px;
}
.sidebar span {
  padding: 10px;
}

.sidebar label:hover {
  color: red;
  background: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.sidebar .menu li a {
  color: #CCC;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.sidebar .menu li a span{
  float: right;
  font-size: 9pt;
  color: gray;
}

.sidebar .menu.center a div{
  margin-left: auto;
  margin-right: 2.5em;
  height: 92px;
  width: 115px;
}

.sidebar .menu li a:hover {
  color: red;
  background: rgba(0, 0, 0, .3);
  cursor: pointer;
}
.sidebar .menu li a:hover span{
  color: white;
}

.sidebar li.active a{
  color: rgb(128, 19, 0);
  background: rgba(0, 0, 0, .3);
}

.seperator {
  border-top: 1px solid #111111;
  border-bottom: 1px solid #353535;
  margin: 10px;
  position: relative;
}

.seperator .title {
  font-family: sans-serif;
  position: absolute;
  color: white;
  text-transform: uppercase;
  right: 10px;
  left: 10px;
  top: -4px;
  margin: auto;
  text-align: center;
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 7pt;
  background: #1d1d1d;
}

.sidebar {
  background: #1d1d1d;
}

.MovieCollection {
  background: #1d1d1d;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: flex-start;
  flex: 1;
  margin-left: 293px;
}

h1 {
  text-align: center;
}

.MovieCollection .movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  background-size: 100% 100%;
  font-size: 10pt;
  margin: 4.5px;
  color: #000;
  position: relative;
}

.movie img {
  max-width: 100%;
  padding: 5px;
}


.movie .description {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    overflow: hidden;
    transition: all .3s;
}

.movie:hover .description {
  height: 120px;
  padding: 10px;
  cursor: pointer;
  color: rgb(128, 19, 0);
}


/* Media Queries */

@media screen and ( min-width:30em) {
  .MovieListings {
    flex: 1;
  }
  .movie {
    flex: 0 1 calc(100% - 1em);
  }
}

@media screen and ( min-width:48em) {
  .movie-container {
    flex-direction: row;
    flex: 1;
  }
  .movie {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and ( min-width:62em) {
  .movie {
    flex: 0 1 calc(17% - 1em);
  }
  .movie-container {
    display: flex;
    flex: 1;
  }
  .sidebar {
    width: 300px;
    position: fixed;
    z-index: 1;
  }
}