@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* FLEXBOX */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: black;
  color: white;
  margin: 0 auto;
}

.SideBar {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: flex-start;
  order: -1;
}
.MovieCollection {
  background: black;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: flex-start;
  flex: 1;
}

.MovieCollection .movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  background-size: 100% 100%;
  font-size: 10pt;
  margin: 4.5px;
  color: #000;
  position: relative;
}

.movie img {
  max-width: 100%;
  padding: 5px;
}


.movie .description {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    overflow: hidden;
    transition: all .3s;
}

.movie:hover .description {
  height: 120px;
  padding: 10px;
  cursor: pointer;
}


/* Media Queries */

@media screen and ( min-width:30em) {
  .MovieListings {
    flex: 1;
  }
  .movie {
    flex: 0 1 calc(100% - 1em);
  }
}

@media screen and ( min-width:48em) {
  .movie-container {
    flex-direction: row;
    flex: 1;
  }
  .movie {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and ( min-width:62em) {
  .movie {
    flex: 0 1 calc(17% - 1em);
  }
  .movie-container {
    display: flex;
    flex: 1;
  }
}